<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Клавиатура</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/iconfonts.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/device.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
	<link rel="shortcut icon" th:href="@{/icons/favicon.ico}">
</head>
<body>
<div class="wrapper">
	<!--Menu-->
	<div th:replace="~{fragments/menu::menu}"></div>
	<!--Content-->
	<div class="content">
		<section class="titlePage">
			<div class="corobka">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col">
							<div class="titlePage__header">
								<h1>Клавиатура</h1>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="titlePage__text">
								<p>Клавиатура - периферийное устройство для ручного набора текста, а также управления операционной системой путем применения специальных комбинаций «горячих» клавиш. По типу, устройства ввода, выделяют мембранные, механические и полумеханические клавиатуры. Исходя из конструктивного типа, клавиатуры делят на: классические, эргономические, раздельные и ромбические. По способу подключения - проводные и беспроводные.</p>
								<p>Стандартная компьютерная клавиатура имеет 104 клавиши. Все это обилие клавиш можно разделить на 4 блока.</p>
								<ul class="text__list2">
									<li><strong> Функциональные клавиши.</strong> С помощью этих клавиш можно в различных программах вызывать разные функции и возможности. В каждой программе эти функции будут отличаться, поэтому запоминать их нет смысла. Тем не менее существует соглашение, по которому нажатие клавиши «F1» в любой программе вызовет окно справки и помощи.</li>
									<li><strong> Клавиши для печати.</strong> Эти клавиши, как понятно из их названия, используются для печати текста и ввода различных данных. Для ввода текста или перехода на следующий абзац используется клавиша «Enter», а для удаления текста или абзаца - клавиша «Backspace».</li>
									<li><strong> Клавиши курсора.</strong> Клавиши курсора (с изображением стрелок на них) позволяют перемещать точку вставки - мигающую вертикальную черту, которая указывает на то, где именно в тексте появится следующий введенный вами с клавиатуры символ или буква. Если же вам нужно быстро перемещаться по тексту, здесь понадобятся клавиши «Home», «End», «Page Up» и «Page Down». Например, если в программе Word нажать клавишу «Ноmе», будет осуществлен переход к началу текущей строки. В свою очередь, благодаря клавише «End» можно перейти к концу строки.</li>
									<li><strong> Цифровая клавиатура.</strong> Эта клавиатура, расположенная справа, помогает быстро вводить цифры в документы и электронные таблицы. Нажав клавишу «Num Lock», можно переключить цифровую клавиатуру на использование в качестве курсора.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sourcesofchoice">
			<div class="corobka">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="sourcesofchoice__header mb-4">
								<h2>Источники по выбору лучшей клавиатуры</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="website-container">
								<th:block th:each="keyboardWebsite : ${keyboardWebsites}">
									<div class="website-container__item">
										<div class="logosite">
											<div class="logosite__image">
												<th:block th:if="${keyboardWebsite.getIconSite() != null}">
													<img th:src="@{(${keyboardWebsite.getIconSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="logotip">
												</th:block>
												<th:block th:unless="${keyboardWebsite.getIconSite() != null}">
													<img th:src="@{img/iconSite.jpg}"  alt="logotip">
												</th:block>
											</div>
										</div>
										<div class="title">
											<h3 th:text="${keyboardWebsite.getPage().getTitle()}"></h3>
										</div>
										<figure class="imgsettings">
											<th:block th:if="${keyboardWebsite.getPage().getImageUrl() != null}">
												<img th:src="@{(${keyboardWebsite.getPage().getImageUrl()})}" alt="image">
											</th:block>
											<th:block th:unless="${keyboardWebsite.getPage().getImageUrl() != null}">
												<img th:src="@{img/comp.jpeg}"  alt="image">
											</th:block>
											<th:block sec:authorize="isAuthenticated()">
												<figcaption  class="formHidden">
													<a href="#tabl2" class="link2">
														<i class="fa-solid fa-arrow-up-wide-short"></i>
													</a>
													<a href="#tabl1" class="link">
														<th:block sec:authorize="hasAuthority('ADMIN')">
															<span class="transferId" style="display: none" th:text="${keyboardWebsite.getId()}"></span>
															<span class="transferSiteName" style="display: none" th:text="${keyboardWebsite.getSiteName()}"></span>
														</th:block>
														<i class="fa-solid fa-chart-column"></i>
													</a>
													<th:block sec:authorize="hasAuthority('ADMIN')">
														<form class="form-link" th:action="@{/allForPC/keyboard/id}" th:method="DELETE">
															<input type="hidden" name="id" th:value="${keyboardWebsite.getId()}">
															<a href="#" onclick="$(this).closest('form').submit();">
																<i class="fa-solid fa-trash"></i>
															</a>
														</form>
													</th:block>
												</figcaption>
											</th:block>
										</figure>
										<div class="website-container__item-footer">
											<p th:text="${keyboardWebsite.getPage().getText()}"></p>
											<div class="text-right">
												<a th:href="@{(${keyboardWebsite.getPage().getLink()})}" class="btn btn-outline-light" target="_blank">подробнее</a>
											</div>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="statistic">
			<div class="corobka">
				<div class="container">
					<div class="row">
						<div class="col bgcolor">
							<a name="tabl1"></a>
							<div class="statistic__header mb-3">
								<h3>Рейтинг сайтов на основе результатов оценки трафика</h3>
							</div>
							<div class="statistic__table">
								<div sec:authorize="hasAuthority('ADMIN')" class="dataTime mb-2">
									<th:block th:if="${siteName_keyB != null and month_keyB != null and year_keyB != null}">
										<p th:text="${'Получены данные для ' + siteName_keyB + ' за ' + month_keyB + ' ' + year_keyB}"></p>
									</th:block>
									<th:block th:if="${messageWeb_keyB != null}">
										<p th:text="${messageWeb_keyB}"></p>
									</th:block>

									<form th:action="@{/allForPC/keyboard/id}" th:method="PUT">
										<input class="result" type="hidden" name="id">
										<a href="#" class="refresh ml-2" onclick="$(this).closest('form').submit();">
											<span class="domenName mp-2"></span>
											<i class="fa-solid fa-rotate-right"></i>
										</a>
									</form>
								</div>
								<div class="tablica table-responsive">
									<table class="table table-bordered">
										<thead>
										<tr class="table-info">
											<th scope="col">Место</th>
											<th scope="col">Домен</th>
											<th scope="col">Позиция сайта в мире</th>
											<th scope="col">Позиция сайта в стране</th>
											<th scope="col">Данные за период</th>
										</tr>
										</thead>
										<tbody>
										<th:block th:each="ratingTrafficKeyB, index : ${ratingTrafficKeyboards}">
											<tr class="table-light">
												<td th:text="${index.index + 1}"></td>
												<td th:text="${ratingTrafficKeyB.getSiteName()}"></td>
												<td th:text="${ratingTrafficKeyB.getRatingInWorld()}"></td>
												<td th:text="${ratingTrafficKeyB.getRatingInCountry()}"></td>
												<td th:text="${ratingTrafficKeyB.getMonth() + ' ' + ratingTrafficKeyB.getYear()}"></td>
											</tr>
										</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="rating">
			<div class="corobka">
				<div class="container">
					<div class="row">
						<div class="col">
							<!--							<div class="showrating mb-4 text-center">-->
							<!--								<a href="#table" class="link2">Показать рейтинг</a>-->
							<!--							</div>-->
							<div class="tablerating table-responsive">
								<a name="tabl2"></a>
								<div class="rating__title">
									<h3>Рейтинг сайтов на основе показателей взаимодействия с ними пользователей</h3>
								</div>
								<table class="table table-bordered">
									<thead>
									<tr class="table-primary">
										<th scope="col">Место</th>
										<th scope="col">Логотип</th>
										<th scope="col">Время посещения</th>
										<th scope="col">Общее число визитов</th>
										<th scope="col">Отказ от посещения</th>
										<th scope="col">Данные за период</th>
									</tr>
									</thead>
									<tbody>
									<th:block th:each="ratingKeyBWebsite, index : ${ratingKeyboardWebsites}">
										<tr class="table-light">
											<td scope="row" th:text="${index.index + 1}"></td>
											<td class="imge">
												<th:block th:if="${ratingKeyBWebsite.getIconSite() != null}">
													<img th:src="@{(${ratingKeyBWebsite.getIconSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="logotip">
												</th:block>
												<th:block th:unless="${ratingKeyBWebsite.getIconSite() != null}">
													<img th:src="@{img/iconSite.jpg}"  alt="logotip">
												</th:block>
											</td>
											<td th:text="${ratingKeyBWebsite.getTimeOnSite()}"></td>
											<td th:text="${ratingKeyBWebsite.getVisits()}"></td>
											<td th:text="${ratingKeyBWebsite.getBounceRate() + ' %'}"></td>
											<td th:text="${ratingKeyBWebsite.getMonth() + ' ' + ratingKeyBWebsite.getYear()}"></td>
										</tr>
									</th:block>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="products">
			<div class="corobka">
				<div class="container-fluid">
					<div class="row mb-4">
						<div class="col">
							<div class="products__title">
								<h2>Популярные товары</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col bgcolor2">
							<div class="products__subtitle">
								<h3><span>Для офисного ПК</span></h3>
							</div>

							<th:block th:each="officeKeyboard : ${keyboardOffices}">
								<div class="products__item">
									<div class="item__description">
										<div class="item__body">
											<h4 class="mb-4" th:text="${officeKeyboard.getName()}"></h4>
											<p th:text="${officeKeyboard.getDescription()}"></p>
											<p class="price" th:text="${'Цена на клавиатуру варьируется в приделах ' + officeKeyboard.getAveragePrice()}"></p>
											<th:block sec:authorize="hasAuthority('ADMIN')">
												<form class="mt-2" th:action="@{/allForPC/keyboard/number}" th:method="DELETE">
													<input type="hidden" name="number" th:value="${officeKeyboard.getId()}">
													<a href="#" class="deleteLink" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-trash"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="item__img">
											<img th:src="@{(${officeKeyboard.getImage()})}" alt="keyboard">
										</div>
									</div>
									<div class="item__monitoring mt-5">
										<div class="monitoring-title mb-2">
											<h5 class="mb-3">Мониторинг цен на данную клавиатуру</h5>
											<th:block sec:authorize="isAuthenticated()">
												<form class="mb-2" th:action="@{/allForPC/keyboard/number}" th:method="PUT">
													<input type="hidden" name="number" th:value="${officeKeyboard.getId()}">
													<a href="#" class="refresh2 ml-2" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-rotate"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="monitoring__table table-responsive">
											<table class="table table-bordered">
												<thead>
												<tr class="table-secondary">
													<th scope="col">Логотип</th>
													<th scope="col">Онлайн магазин</th>
													<th scope="col">Цена</th>
													<th scope="col">Ссылка на товар</th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="priceKeyBOffice : ${officeKeyboard.getMonitoringPrices()}">
													<tr class="table-light">
														<td scope="row"class="imge2">
															<img th:src="@{(${priceKeyBOffice.getLogoSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="iconka">
														</td>
														<td th:text="${priceKeyBOffice.getSiteName()}"></td>
														<td  th:text="${priceKeyBOffice.getPrice()}"></td>
														<td >
															<a th:href="@{(${priceKeyBOffice.getLink()})}" class="btn btn-primary" target="_blank">Посмотреть</a>
														</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<div class="row">
						<div class="col bgcolor2">
							<div class="products__subtitle">
								<h3><span>Для игрового ПК</span></h3>
							</div>
							<th:block th:each="gameKeyboard : ${keyboardGames}">
								<div class="products__item">
									<div class="item__description2">
										<div class="item__img2">
											<img th:src="@{(${gameKeyboard.getImage()})}" alt="keyboard">
										</div>
										<div class="item__body2">
											<h4 class="mb-4" th:text="${gameKeyboard.getName()}"></h4>
											<p th:text="${gameKeyboard.getDescription()}"></p>
											<p class="price" th:text="${'Цена на клавиатуру изменяется в приделах ' + gameKeyboard.getAveragePrice()}"></p>
											<th:block sec:authorize="hasAuthority('ADMIN')">
												<form class="mt-2" th:action="@{/allForPC/keyboard/number}" th:method="DELETE">
													<input type="hidden" name="number" th:value="${gameKeyboard.getId()}">
													<a href="#" class="deleteLink" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-trash"></i>
													</a>
												</form>
											</th:block>
										</div>
									</div>
									<div class="item__monitoring mt-5">
										<div class="monitoring-title mb-2">
											<h5 class="mb-3">Мониторинг цен на данную клавиатуру</h5>
											<th:block sec:authorize="isAuthenticated()">
												<form class="mb-2" th:action="@{/allForPC/keyboard/number}" th:method="PUT">
													<input type="hidden" name="number" th:value="${gameKeyboard.getId()}">
													<a href="#" class="refresh2 ml-2" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-rotate"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="monitoring__table table-responsive">
											<table class="table table-bordered">
												<thead>
												<tr class="table-secondary">
													<th scope="col">Логотип</th>
													<th scope="col">Онлайн магазин</th>
													<th scope="col">Цена</th>
													<th scope="col">Ссылка на товар</th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="priceKeyBGame : ${gameKeyboard.getMonitoringPrices()}">
													<tr class="table-light">
														<td scope="row"class="imge2">
															<img th:src="@{(${priceKeyBGame.getLogoSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="iconka">
														</td>
														<td th:text="${priceKeyBGame.getSiteName()}"></td>
														<td th:text="${priceKeyBGame.getPrice()}"></td>
														<td >
															<a th:href="@{(${priceKeyBGame.getLink()})}" class="btn btn-primary" target="_blank">Посмотреть</a>
														</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<div class="row">
						<div class="col bgcolor2">
							<div class="products__subtitle">
								<h3><span>Для домашнего ПК</span></h3>
							</div>
							<th:block th:each="homeKeyboard : ${keyboardHomes}">
								<div class="products__item">
									<div class="item__description">
										<div class="item__body">
											<h4 class="mb-4" th:text="${homeKeyboard.getName()}"></h4>
											<p th:text="${homeKeyboard.getDescription()}"></p>
											<p class="price" th:text="${'Цена на клавиатуру меняется в рамках ' + homeKeyboard.getAveragePrice()}"></p>
											<th:block sec:authorize="hasAuthority('ADMIN')">
												<form class="mt-2" th:action="@{/allForPC/keyboard/number}" th:method="DELETE">
													<input type="hidden" name="number" th:value="${homeKeyboard.getId()}">
													<a href="#" class="deleteLink" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-trash"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="item__img">
											<img th:src="@{(${homeKeyboard.getImage()})}" alt="keyboard">
										</div>
									</div>
									<div class="item__monitoring mt-5">
										<div class="monitoring-title mb-2">
											<h5 class="mb-3">Мониторинг цен на данную клавиатуру</h5>
											<th:block sec:authorize="isAuthenticated()">
												<form class="mb-2" th:action="@{/allForPC/keyboard/number}" th:method="PUT">
													<input type="hidden" name="number" th:value="${homeKeyboard.getId()}">
													<a href="#" class="refresh2 ml-2" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-rotate"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="monitoring__table table-responsive">
											<table class="table table-bordered">
												<thead>
												<tr class="table-secondary">
													<th scope="col">Логотип</th>
													<th scope="col">Онлайн магазин</th>
													<th scope="col">Цена</th>
													<th scope="col">Ссылка на товар</th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="priceKeyBHome : ${homeKeyboard.getMonitoringPrices()}">
													<tr class="table-light">
														<td scope="row"class="imge2">
															<img th:src="@{(${priceKeyBHome.getLogoSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="iconka">
														</td>
														<td th:text="${priceKeyBHome.getSiteName()}"></td>
														<td th:text="${priceKeyBHome.getPrice()}"></td>
														<td >
															<a th:href="@{(${priceKeyBHome.getLink()})}" class="btn btn-primary" target="_blank">Посмотреть</a>
														</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--Footer-->
	<div th:replace="~{fragments/footer::footer}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/menu.js}" type="text/javascript"></script>
<script th:src="@{/js/equipment.js}" type="text/javascript"></script>
</body>
</html>