<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Процессор</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/iconfonts.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/device.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
	<link rel="shortcut icon" th:href="@{/icons/favicon.ico}">
</head>
<body>
<div class="wrapper">
	<!--Menu-->
	<div th:replace="~{fragments/menu::menu}"></div>
	<!--Content-->
	<div class="content">
		<section class="titlePage">
			<div class="corobka">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col">
							<div class="titlePage__header">
								<h1>Процессор</h1>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="titlePage__text">
								<p>Центральный процессор (ЦП; также центральное процессорное устройство - ЦПУ) - интегральная схема, исполняющая код программ, главная часть аппаратного обеспечения компьютера или программируемого логического контроллера. Он состоит из множества транзисторов, с помощью которых собраны отдельные логические схемы, находящиеся в специальном кремниевом корпусе. В основе внутренних схем процессора лежит арифметико-логическое устройство, внутренняя память (регистры), и кеш-память (сверхпамять), которые образуют ядро процессора, а также схемы для управления всеми операциями и внешними устройствами - шинами.</p>
								<p>Входной источник, представленный данными и командами, попадает в процессор через внешние шины. Обработка информации происходит в соответствие с командами в арифметико-логическом устройстве, а результат выводится устройством вывода. Чем больше разрядность всех схем процессора, тем большее количество данных можно обработать за единицу времени, а значит, от этого на прямую зависит производительность компьютерной системы в целом.</p>
								<p>Хорошим примером станет один из первых микропроцессоров для IBM PC 80286, которые были 16 разрядными, дальше стали уже 32, а 64 разрядные процессоры появились в 2014 году, которые и по сей день остаются основной в производстве в современных процессорах.</p>
								<p>Ещё важную роль играет тактовая частота, которая измеряется в мегагерцах (МГц), тоесть один мегагерц равен миллион тактов в секунду, соответственно 1000 МГц или 1 гигагерц - это миллиард тактов в секунду. Случайный фрагмент из информации выполняет один такт, и чем выше, тем процессор лучше обрабатывает поступающие в него данные. В принципе, работа компьютера возможна и при низких частотах, но тогда процессор затратит на обработку гораздо больше времени. К слову, современные ЦПУ работают гораздо быстрее, чем их предок Intel 80286, используемый в первом персональном компьютере. И несколько ядер ЦП имеют свойство многозадачности, даже если компьютер выполняет только одну задачу.</p>
								<p>Сигналы, циркулирующие внутри кристалла процессора, имеют высокую частоту, и общаться с внешними компонентами компьютера на одной волне пока не могут: у материнской платы она одна, а у работы процессора другая - более высокая. Следовательно, он умножает её на внутренний коэффициент и получается внутренняя частота (внутренний множитель). Эти возможности очень часто используются для разгонного потенциала процессора. Данные для последующей работы процессор получает из оперативной памяти.</p>
								<p>В процессоре для ускорения работы и системы в целом была интегрирована технология кэширования. Кэш – это небольшой набор ячеек памяти, выполняющих роль буфера. При считывании информации из общей памяти, готовая копия появляется в кэш - памяти центрального процессора.</p>
								<p>В нынешних процессорах она имеет пирамидальный вид:</p>
								<ul class="text__list">
									<li> Кеш-память 1-го уровня - малая по объёму, но самая быстрая по скорости, входит в состав кристалла процессора. Производится по тем же технологиям, что и регистры процессора. Очень дорогая, но это стоит её скорости и надёжности, измеряется сотнями килобайт.</li>
									<li> Кеш-память 2-го уровня - так же, как и 1-го уровня расположена на кристалле процессора и работает с частотой его ядра. Измеряется от сотен килобайт до нескольких мегабайт.</li>
									<li> Кеш-память 3-го уровня медленнее предыдущих уровней этого вида, но эффективней оперативной памяти. Измеряется десятками мегабайт.</li>
									<li> Кеш-память 4-го уровня присутствует в многопроцессорных системах, именно поэтому на обычном компьютере её найти не удаётся.</li>
								</ul>
								<p>Место крепления процессора к материнской плате называется Soket. Он сугубо индивидуален и подойдёт только для определённого типа или семейства процессоров, которые у разных производителей тоже разные.</p>
								<p>Энергопотребление и тепловыделение процессора зависит от технологии, по которым они производятся. Для уменьшения обменных явлений выступает автоматическая система регулировки нагрузки на процессор. Высокопроизводительные компьютеры в обязательном порядке должны иметь хорошую систему охлаждения.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sourcesofchoice">
			<div class="corobka">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="sourcesofchoice__header mb-4">
								<h2>Источники по выбору лучшего процессора</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="website-container">
								<th:block th:each="website : ${processorWebsites}">
									<div class="website-container__item">
										<div class="logosite">
											<div class="logosite__image">
												<th:block th:if="${website.getIconSite() != null}">
													<img th:src="@{(${website.getIconSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="logotip">
												</th:block>
												<th:block th:unless="${website.getIconSite() != null}">
													<img th:src="@{img/iconSite.jpg}"  alt="logotip">
												</th:block>
											</div>
										</div>
										<div class="title">
											<h3 th:text="${website.getPage().getTitle()}"></h3>
										</div>
										<figure class="imgsettings">
											<th:block th:if="${website.getPage().getImageUrl() != null}">
												<img th:src="@{(${website.getPage().getImageUrl()})}" alt="image">
											</th:block>
											<th:block th:unless="${website.getPage().getImageUrl() != null}">
												<img th:src="@{img/comp.jpeg}"  alt="image">
											</th:block>
											<th:block sec:authorize="isAuthenticated()">
												<figcaption  class="formHidden">
													<a href="#tabl2" class="link2">
														<i class="fa-solid fa-arrow-up-wide-short"></i>
													</a>
													<a href="#tabl1" class="link">
														<th:block sec:authorize="hasAuthority('ADMIN')">
															<span class="transferId" style="display: none" th:text="${website.getId()}"></span>
															<span class="transferSiteName" style="display: none" th:text="${website.getSiteName()}"></span>
														</th:block>
														<i class="fa-solid fa-chart-column"></i>
													</a>
													<th:block sec:authorize="hasAuthority('ADMIN')">
														<form class="form-link" th:action="@{/allForPC/processor/id}" th:method="DELETE">
															<input type="hidden" name="id" th:value="${website.getId()}">
															<a href="#" onclick="$(this).closest('form').submit();">
																<i class="fa-solid fa-trash"></i>
															</a>
														</form>
													</th:block>
													<!--<form th:action="@{/allForPC/processor/id}" method="post">-->
													<!--	<input type="hidden" name="id" th:value="${website.getId()}"/>-->
													<!--	<a href="#tabl1" class="link" onclick="$(this).closest('form').submit();">-->
													<!--		<i class="fa-solid fa-chart-column"></i>-->
													<!--	</a>-->
													<!--</form>-->
												</figcaption>
											</th:block>

										</figure>
										<div class="website-container__item-footer">
											<p th:text="${website.getPage().getText()}"></p>
										</div>
										<div class="text-right pr-3">
											<a th:href="@{(${website.getPage().getLink()})}" class="btn btn-outline-light" target="_blank">подробнее</a>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="statistic">
			<div class="corobka">
				<div class="container">
					<div class="row">
						<div class="col bgcolor">
							<a name="tabl1"></a>
							<div class="statistic__header mb-3">
								<h3>Рейтинг сайтов на основе результатов оценки трафика</h3>
							</div>
							<div class="statistic__table">
								<div sec:authorize="hasAuthority('ADMIN')" class="dataTime mb-2">
									<th:block th:if="${siteName != null and month != null and year != null}">
										<p th:text="${'Получены данные для ' + siteName + ' за ' + month + ' ' + year}"></p>
									</th:block>
									<th:block th:if="${messageWeb != null}">
										<p th:text="${messageWeb}"></p>
									</th:block>

									<form th:action="@{/allForPC/processor/id}" th:method="PUT">
										<input class="result" type="hidden" name="id">
										<a href="#" class="refresh ml-2" onclick="$(this).closest('form').submit();">
											<span class="domenName mp-2"></span>
											<i class="fa-solid fa-rotate-right"></i>
										</a>
									</form>
								</div>
								<div class="tablica table-responsive">
									<table class="table table-bordered">
										<thead>
										<tr class="table-info">
											<th scope="col">Место</th>
											<th scope="col">Домен</th>
											<th scope="col">Позиция сайта в мире</th>
											<th scope="col">Позиция сайта в стране</th>
											<th scope="col">Данные за период</th>
										</tr>
										</thead>
										<tbody>
										<th:block th:each="ratingTrafficWebsite, index : ${ratingTrafficProcessorWebsites}">
											<tr class="table-light">
												<td th:text="${index.index + 1}"></td>
												<td th:text="${ratingTrafficWebsite.getSiteName()}"></td>
												<td th:text="${ratingTrafficWebsite.getRatingInWorld()}"></td>
												<td th:text="${ratingTrafficWebsite.getRatingInCountry()}"></td>
												<td th:text="${ratingTrafficWebsite.getMonth() +' ' + ratingTrafficWebsite.getYear()}"></td>
											</tr>
										</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="rating">
			<div class="corobka">
				<div class="container">
					<div class="row">
						<div class="col">
<!--							<div class="showrating mb-4 text-center">-->
<!--								<a href="#table" class="link2">Показать рейтинг</a>-->
<!--							</div>-->
							<div class="tablerating table-responsive">
<!--								<a name="table"></a>-->
								<a name="tabl2"></a>
								<div class="rating__title">
									<h3>Рейтинг сайтов на основе показателей взаимодействия с ними пользователей</h3>
								</div>
								<table class="table table-bordered">
									<thead>
									<tr class="table-primary">
										<th scope="col">Место</th>
										<th scope="col">Логотип</th>
										<th scope="col">Время посещения</th>
										<th scope="col">Общее число визитов</th>
										<th scope="col">Отказ от посещения</th>
										<th scope="col">Данные за период</th>
									</tr>
									</thead>
									<tbody>
									<th:block th:each="ratingWebsit, index : ${ratingProcessorWebsites}">
										<tr class="table-light">
											<td scope="row" th:text="${index.index + 1}"></td>
											<td class="imge">
												<th:block th:if="${ratingWebsit.getIconSite() != null}">
													<img th:src="@{(${ratingWebsit.getIconSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="logotip">
												</th:block>
												<th:block th:unless="${ratingWebsit.getIconSite() != null}">
													<img th:src="@{img/iconSite.jpg}"  alt="logotip">
												</th:block>
											</td>
											<td th:text="${ratingWebsit.getTimeOnSite()}"></td>
											<td th:text="${ratingWebsit.getVisits()}"></td>
											<td th:text="${ratingWebsit.getBounceRate()} + ' %'"></td>
											<td th:text="${ratingWebsit.getMonth() + ' ' + ratingWebsit.getYear()}"></td>
										</tr>
									</th:block>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="products">
			<div class="corobka">
				<div class="container-fluid">
					<div class="row mb-4">
						<div class="col">
							<div class="products__title">
								<h2>Популярные товары</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col bgcolor2">
							<div class="products__subtitle">
								<h3><span>Для офисного ПК</span></h3>
							</div>
							<th:block th:each="processorForOffice : ${processorsForOffice}">
								<div class="products__item">
									<div class="item__description">
										<div class="item__body">
											<h4 class="mb-4" th:text="${processorForOffice.getName()}"></h4>
											<p th:text="${processorForOffice.getDescription()}"></p>
											<p class="price" th:text="${'Цена на процессор варьируется в приделах '+ processorForOffice.getAveragePrice()}"></p>
											<th:block sec:authorize="hasAuthority('ADMIN')">
												<form class="mt-2" th:action="@{/allForPC/processor/number}" th:method="DELETE">
													<input type="hidden" name="number" th:value="${processorForOffice.getId()}">
													<a href="#" class="deleteLink" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-trash"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="item__img">
											<img th:src="@{(${processorForOffice.getImage()})}" alt="procesor">
										</div>
									</div>
									<div class="item__monitoring mt-5">
										<div class="monitoring-title mb-2">
											<h5 class="mb-3">Мониторинг цен на данный процессор</h5>
											<th:block sec:authorize="isAuthenticated()">
												<form class="mb-2" th:action="@{/allForPC/processor/number}" th:method="PUT">
													<input type="hidden" name="number" th:value="${processorForOffice.getId()}">
													<a href="#" class="refresh2 ml-2" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-rotate"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="monitoring__table table-responsive">
											<table class="table table-bordered">
												<thead>
												<tr class="table-secondary">
													<th scope="col">Логотип</th>
													<th scope="col">Онлайн магазин</th>
													<th scope="col">Цена</th>
													<th scope="col">Ссылка на товар</th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="priceMonitoring : ${processorForOffice.getMonitoringPrices()}">
													<tr class="table-light">
														<td scope="row"class="imge2">
															<img th:src="@{(${priceMonitoring.getLogoSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="iconka">
														</td>
														<td th:text="${priceMonitoring.getSiteName()}"></td>
														<td  th:text="${priceMonitoring.getPrice()}"></td>
														<td >
															<a th:href="@{(${priceMonitoring.getLink()})}" class="btn btn-primary" target="_blank">Посмотреть</a>
														</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<div class="row">
						<div class="col bgcolor2">
							<div class="products__subtitle">
								<h3><span>Для игрового ПК</span></h3>
							</div>
							<th:block th:each="processorForGame : ${processorsForGames}">
								<div class="products__item">
									<div class="item__description2">
										<div class="item__img2">
											<img th:src="@{(${processorForGame.getImage()})}" alt="processor">
										</div>
										<div class="item__body2">
											<h4 class="mb-4" th:text="${processorForGame.getName()}"></h4>
											<p th:text="${processorForGame.getDescription()}"></p>
											<p class="price" th:text="${'Цена на процессор изменяется в приделах '+ processorForGame.getAveragePrice()}"></p>
											<th:block sec:authorize="hasAuthority('ADMIN')">
												<form class="mt-2" th:action="@{/allForPC/processor/number}" th:method="DELETE">
													<input type="hidden" name="number" th:value="${processorForGame.getId()}">
													<a href="#" class="deleteLink" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-trash"></i>
													</a>
												</form>
											</th:block>
										</div>
									</div>
									<div class="item__monitoring mt-5">
										<div class="monitoring-title mb-2">
											<h5 class="mb-3">Мониторинг цен на данный процессор</h5>
											<th:block sec:authorize="isAuthenticated()">
												<form class="mb-2" th:action="@{/allForPC/processor/number}" th:method="PUT">
													<input type="hidden" name="number" th:value="${processorForGame.getId()}">
													<a href="#" class="refresh2 ml-2" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-rotate"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="monitoring__table table-responsive">
											<table class="table table-bordered">
												<thead>
												<tr class="table-secondary">
													<th scope="col">Логотип</th>
													<th scope="col">Онлайн магазин</th>
													<th scope="col">Цена</th>
													<th scope="col">Ссылка на товар</th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="priceGameProcessor : ${processorForGame.getMonitoringPrices()}">
													<tr class="table-light">
														<td scope="row"class="imge2">
															<img th:src="@{(${priceGameProcessor.getLogoSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="iconka">
														</td>
														<td th:text="${priceGameProcessor.getSiteName()}"></td>
														<td th:text="${priceGameProcessor.getPrice()}"></td>
														<td >
															<a th:href="@{(${priceGameProcessor.getLink()})}" class="btn btn-primary" target="_blank">Посмотреть</a>
														</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<div class="row">
						<div class="col bgcolor2">
							<div class="products__subtitle">
								<h3><span>Для домашнего ПК</span></h3>
							</div>
							<th:block th:each="processorForHome : ${processorsForHome}">
								<div class="products__item">
									<div class="item__description">
										<div class="item__body">
											<h4 class="mb-4" th:text="${processorForHome.getName()}"></h4>
											<p th:text="${processorForHome.getDescription()}"></p>
											<p class="price" th:text="${'Цена на процессор меняется в рамках ' + processorForHome.getAveragePrice()}"></p>
											<th:block sec:authorize="hasAuthority('ADMIN')">
												<form class="mt-2" th:action="@{/allForPC/processor/number}" th:method="DELETE">
													<input type="hidden" name="number" th:value="${processorForHome.getId()}">
													<a href="#" class="deleteLink" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-trash"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="item__img">
											<img th:src="@{(${processorForHome.getImage()})}" alt="processor">
										</div>
									</div>
									<div class="item__monitoring mt-5">
										<div class="monitoring-title mb-2">
											<h5 class="mb-3">Мониторинг цен на данный процессор</h5>
											<th:block sec:authorize="isAuthenticated()">
												<form class="mb-2" th:action="@{/allForPC/processor/number}" th:method="PUT">
													<input type="hidden" name="number" th:value="${processorForHome.getId()}">
													<a href="#" class="refresh2 ml-2" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-rotate"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="monitoring__table table-responsive">
											<table class="table table-bordered">
												<thead>
												<tr class="table-secondary">
													<th scope="col">Логотип</th>
													<th scope="col">Онлайн магазин</th>
													<th scope="col">Цена</th>
													<th scope="col">Ссылка на товар</th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="priceProcessorForHome : ${processorForHome.getMonitoringPrices()}">
													<tr class="table-light">
														<td scope="row"class="imge2">
															<img th:src="@{(${priceProcessorForHome.getLogoSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="iconka">
														</td>
														<td th:text="${priceProcessorForHome.getSiteName()}"></td>
														<td th:text="${priceProcessorForHome.getPrice()}"></td>
														<td >
															<a th:href="@{(${priceProcessorForHome.getLink()})}" class="btn btn-primary" target="_blank">Посмотреть</a>
														</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--Footer-->
	<div th:replace="~{fragments/footer::footer}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/menu.js}" type="text/javascript"></script>
<script th:src="@{/js/equipment.js}" type="text/javascript"></script>
</body>
</html>