<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>SSD</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/iconfonts.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/device.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
	<link rel="shortcut icon" th:href="@{/icons/favicon.ico}">
</head>
<body>
<div class="wrapper">
	<!--Menu-->
	<div th:replace="~{fragments/menu::menu}"></div>
	<!--Content-->
	<div class="content">
		<section class="titlePage">
			<div class="corobka">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col">
							<div class="titlePage__header">
								<h1>Твердотельный накопитель (SSD)</h1>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="titlePage__text">
								<p>Твердотельный накопитель (solid state drive) - это  запоминающее устройство, используемое при сборке интегральных схем постоянного хранения данных с флэш-памятью. Функционирует как вторичное хранилище в компьютерных депо. Его иногда называют полупроводниковым запоминающим устройством, твердотельным устройством или диском, хотя на нём отсутствуют физические вращающиеся диски и подвижные головки чтения-записи, как в жестких дисках (HDD) и дискетах.</p>
								<p>По сравнению с электромеханическими накопителями он более устойчив к физическому удару, работает бесшумно, имеет более высокое количество операций ввода-вывода в секунду и меньшую задержку, хранят данные в полупроводниковых элементах.</p>
								<p>SSD различаются по своим свойствам в зависимости от количества битов, хранящихся в каждой ячейке.</p>
								<ul class="text__list">
									<li> Одноразрядные ячейки («одноуровневые ячейки» или «SLC»), являются наиболее надежными, долговечными, быстрыми и дорогими типами по сравнению с 2- и 3-битными ячейками («Многоуровневые ячейки / MLC» и «Трехуровневые ячейки / TLC»).</li>
									<li> Четырехбитные ячейки («QLC»), используются для потребительских устройств, не требующие экстремальных свойств, являются самыми дешевыми на гигабайт из четырех.</li>
								</ul>
								<p>Кроме того, память 3D XPoint (Intel Optane) хранит данные путем изменения электрического сопротивления ячеек, а твердотельные накопители на основе оперативной памяти, могут использоваться для высокой скорости, когда сохранение данных после потери питания не требуется.</p>
								<p>Гибридные накопители или твердотельные гибридные накопители (SSHD) - Apple Fusion Drive, сочетают в себе функции твердотельных накопителей и жестких дисков в одном устройстве. Используют как флэш-память, так и вращающиеся магнитные диски, дабы повысить производительность часто используемых данных.</p>
								<p>Твердотельные накопители на основе флэш-памяти NAND будут медленно пропускать заряд при длительном отсутствии питания, что приведёт к потере данных: через один год (при 30 °C), до двух лет (при 25 °C) в хранилище, а для новых дисков займёт больше времени. Поэтому твердотельные накопители не подходят для архивного хранения, но 3D XPoint является возможным исключением из этого правила, т.к. это новая и неизведанная технология долгосрочного хранения данных.</p>
								<p>SSD использует традиционные интерфейсы, форм-факторы жестких дисков и более новые интерфейсы. Традиционные интерфейсы (SATA, SAS) и стандартные форм-факторы жестких дисков внедряются в качестве замены в компьютерах. Новые устройства и более высокоскоростные интерфейсы могут еще больше повысить производительность по сравнению с жестким диском. Но имеют ограничения по записи в течение всего срока службы и замедляются по мере достижения полной емкости хранилища.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sourcesofchoice">
			<div class="corobka">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="sourcesofchoice__header mb-4">
								<h2>Источники по выбору лучшего SSD</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="website-container">
								<th:block th:each="ssdWebsite : ${ssdWebsites}">
									<div class="website-container__item">
										<div class="logosite">
											<div class="logosite__image">
												<th:block th:if="${ssdWebsite.getIconSite() != null}">
													<img th:src="@{(${ssdWebsite.getIconSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="logotip">
												</th:block>
												<th:block th:unless="${ssdWebsite.getIconSite() != null}">
													<img th:src="@{img/iconSite.jpg}"  alt="logotip">
												</th:block>
											</div>
										</div>
										<div class="title">
											<h3 th:text="${ssdWebsite.getPage().getTitle()}"></h3>
										</div>
										<figure class="imgsettings">
											<th:block th:if="${ssdWebsite.getPage().getImageUrl() != null}">
												<img th:src="@{(${ssdWebsite.getPage().getImageUrl()})}" alt="image">
											</th:block>
											<th:block th:unless="${ssdWebsite.getPage().getImageUrl() != null}">
												<img th:src="@{img/comp.jpeg}"  alt="image">
											</th:block>
											<th:block sec:authorize="isAuthenticated()">
												<figcaption  class="formHidden">
													<a href="#tabl2" class="link2">
														<i class="fa-solid fa-arrow-up-wide-short"></i>
													</a>
													<a href="#tabl1" class="link">
														<th:block sec:authorize="hasAuthority('ADMIN')">
															<span class="transferId" style="display: none" th:text="${ssdWebsite.getId()}"></span>
															<span class="transferSiteName" style="display: none" th:text="${ssdWebsite.getSiteName()}"></span>
														</th:block>
														<i class="fa-solid fa-chart-column"></i>
													</a>
													<th:block sec:authorize="hasAuthority('ADMIN')">
														<form class="form-link" th:action="@{/allForPC/ssd/id}" th:method="DELETE">
															<input type="hidden" name="id" th:value="${ssdWebsite.getId()}">
															<a href="#" onclick="$(this).closest('form').submit();">
																<i class="fa-solid fa-trash"></i>
															</a>
														</form>
													</th:block>
												</figcaption>
											</th:block>
										</figure>
										<div class="website-container__item-footer">
											<p th:text="${ssdWebsite.getPage().getText()}"></p>
											<div class="text-right">
												<a th:href="@{(${ssdWebsite.getPage().getLink()})}" class="btn btn-outline-light" target="_blank">подробнее</a>
											</div>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="statistic">
			<div class="corobka">
				<div class="container">
					<div class="row">
						<div class="col bgcolor">
							<a name="tabl1"></a>
							<div class="statistic__header mb-3">
								<h3>Рейтинг сайтов на основе результатов оценки трафика</h3>
							</div>
							<div class="statistic__table">
								<div sec:authorize="hasAuthority('ADMIN')" class="dataTime mb-2">
									<th:block th:if="${siteName3 != null and month3 != null and year3 != null}">
										<p th:text="${'Получены данные для ' + siteName3 + ' за ' + month3 + ' ' + year3}"></p>
									</th:block>
									<th:block th:if="${messageWeb3 != null}">
										<p th:text="${messageWeb3}"></p>
									</th:block>

									<form th:action="@{/allForPC/ssd/id}" th:method="PUT">
										<input class="result" type="hidden" name="id">
										<a href="#" class="refresh ml-2" onclick="$(this).closest('form').submit();">
											<span class="domenName mp-2"></span>
											<i class="fa-solid fa-rotate-right"></i>
										</a>
									</form>
								</div>
								<div class="tablica table-responsive">
									<table class="table table-bordered">
										<thead>
										<tr class="table-info">
											<th scope="col">Место</th>
											<th scope="col">Домен</th>
											<th scope="col">Позиция сайта в мире</th>
											<th scope="col">Позиция сайта в стране</th>
											<th scope="col">Данные за период</th>
										</tr>
										</thead>
										<tbody>
										<th:block th:each="ratingTrafficSSD, index : ${ratingTrafficSSDWebsites}">
											<tr class="table-light">
												<td th:text="${index.index + 1}"></td>
												<td th:text="${ratingTrafficSSD.getSiteName()}"></td>
												<td th:text="${ratingTrafficSSD.getRatingInWorld()}"></td>
												<td th:text="${ratingTrafficSSD.getRatingInCountry()}"></td>
												<td th:text="${ratingTrafficSSD.getMonth() + ' ' + ratingTrafficSSD.getYear()}"></td>
											</tr>
										</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="rating">
			<div class="corobka">
				<div class="container">
					<div class="row">
						<div class="col">
							<!--							<div class="showrating mb-4 text-center">-->
							<!--								<a href="#table" class="link2">Показать рейтинг</a>-->
							<!--							</div>-->
							<div class="tablerating table-responsive">
								<a name="tabl2"></a>
								<div class="rating__title">
									<h3>Рейтинг сайтов на основе показателей взаимодействия с ними пользователей</h3>
								</div>
								<table class="table table-bordered">
									<thead>
									<tr class="table-primary">
										<th scope="col">Место</th>
										<th scope="col">Логотип</th>
										<th scope="col">Время посещения</th>
										<th scope="col">Общее число визитов</th>
										<th scope="col">Отказ от посещения</th>
										<th scope="col">Данные за период</th>
									</tr>
									</thead>
									<tbody>
									<th:block th:each="ratingSSDWebsite, index : ${ratingSSDWebsites}">
										<tr class="table-light">
											<td scope="row" th:text="${index.index + 1}"></td>
											<td class="imge">
												<th:block th:if="${ratingSSDWebsite.getIconSite() != null}">
													<img th:src="@{(${ratingSSDWebsite.getIconSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="logotip">
												</th:block>
												<th:block th:unless="${ratingSSDWebsite.getIconSite() != null}">
													<img th:src="@{img/iconSite.jpg}"  alt="logotip">
												</th:block>
											</td>
											<td th:text="${ratingSSDWebsite.getTimeOnSite()}"></td>
											<td th:text="${ratingSSDWebsite.getVisits()}"></td>
											<td th:text="${ratingSSDWebsite.getBounceRate() + ' %'}"></td>
											<td th:text="${ratingSSDWebsite.getMonth() + ' ' + ratingSSDWebsite.getYear()}"></td>
										</tr>
									</th:block>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="products">
			<div class="corobka">
				<div class="container-fluid">
					<div class="row mb-4">
						<div class="col">
							<div class="products__title">
								<h2>Популярные товары</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col bgcolor2">
							<div class="products__subtitle">
								<h3><span>Для офисного ПК</span></h3>
							</div>

							<th:block th:each="officeSSD : ${ssdOffices}">
								<div class="products__item">
									<div class="item__description">
										<div class="item__body">
											<h4 class="mb-4" th:text="${officeSSD.getName()}"></h4>
											<p th:text="${officeSSD.getDescription()}"></p>
											<p class="price" th:text="${'Цена на SSD варьируется в приделах ' + officeSSD.getAveragePrice()}"></p>
											<th:block sec:authorize="hasAuthority('ADMIN')">
												<form class="mt-2" th:action="@{/allForPC/ssd/number}" th:method="DELETE">
													<input type="hidden" name="number" th:value="${officeSSD.getId()}">
													<a href="#" class="deleteLink" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-trash"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="item__img">
											<img th:src="@{(${officeSSD.getImage()})}" alt="SSD">
										</div>
									</div>
									<div class="item__monitoring mt-5">
										<div class="monitoring-title mb-2">
											<h5 class="mb-3">Мониторинг цен на данный SSD</h5>
											<th:block sec:authorize="isAuthenticated()">
												<form class="mb-2" th:action="@{/allForPC/ssd/number}" th:method="PUT">
													<input type="hidden" name="number" th:value="${officeSSD.getId()}">
													<a href="#" class="refresh2 ml-2" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-rotate"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="monitoring__table table-responsive">
											<table class="table table-bordered">
												<thead>
												<tr class="table-secondary">
													<th scope="col">Логотип</th>
													<th scope="col">Онлайн магазин</th>
													<th scope="col">Цена</th>
													<th scope="col">Ссылка на товар</th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="priceSSD : ${officeSSD.getMonitoringPrices()}">
													<tr class="table-light">
														<td scope="row"class="imge2">
															<img th:src="@{(${priceSSD.getLogoSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="iconka">
														</td>
														<td th:text="${priceSSD.getSiteName()}"></td>
														<td  th:text="${priceSSD.getPrice()}"></td>
														<td >
															<a th:href="@{(${priceSSD.getLink()})}" class="btn btn-primary" target="_blank">Посмотреть</a>
														</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<div class="row">
						<div class="col bgcolor2">
							<div class="products__subtitle">
								<h3><span>Для игрового ПК</span></h3>
							</div>
							<th:block th:each="gameSSD : ${ssdGames}">
								<div class="products__item">
									<div class="item__description2">
										<div class="item__img2">
											<img th:src="@{(${gameSSD.getImage()})}" alt="SSD">
										</div>
										<div class="item__body2">
											<h4 class="mb-4" th:text="${gameSSD.getName()}"></h4>
											<p th:text="${gameSSD.getDescription()}"></p>
											<p class="price" th:text="${'Цена на SSD изменяется в приделах ' + gameSSD.getAveragePrice()}"></p>
											<th:block sec:authorize="hasAuthority('ADMIN')">
												<form class="mt-2" th:action="@{/allForPC/ssd/number}" th:method="DELETE">
													<input type="hidden" name="number" th:value="${gameSSD.getId()}">
													<a href="#" class="deleteLink" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-trash"></i>
													</a>
												</form>
											</th:block>
										</div>
									</div>
									<div class="item__monitoring mt-5">
										<div class="monitoring-title mb-2">
											<h5 class="mb-3">Мониторинг цен на данный SSD</h5>
											<th:block sec:authorize="isAuthenticated()">
												<form class="mb-2" th:action="@{/allForPC/ssd/number}" th:method="PUT">
													<input type="hidden" name="number" th:value="${gameSSD.getId()}">
													<a href="#" class="refresh2 ml-2" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-rotate"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="monitoring__table table-responsive">
											<table class="table table-bordered">
												<thead>
												<tr class="table-secondary">
													<th scope="col">Логотип</th>
													<th scope="col">Онлайн магазин</th>
													<th scope="col">Цена</th>
													<th scope="col">Ссылка на товар</th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="gameSSDPrice : ${gameSSD.getMonitoringPrices()}">
													<tr class="table-light">
														<td scope="row"class="imge2">
															<img th:src="@{(${gameSSDPrice.getLogoSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="iconka">
														</td>
														<td th:text="${gameSSDPrice.getSiteName()}"></td>
														<td th:text="${gameSSDPrice.getPrice()}"></td>
														<td >
															<a th:href="@{(${gameSSDPrice.getLink()})}" class="btn btn-primary" target="_blank">Посмотреть</a>
														</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<div class="row">
						<div class="col bgcolor2">
							<div class="products__subtitle">
								<h3><span>Для домашнего ПК</span></h3>
							</div>
							<th:block th:each="homeSSD : ${ssdHomes}">
								<div class="products__item">
									<div class="item__description">
										<div class="item__body">
											<h4 class="ssd mb-4" th:text="${homeSSD.getName()}"></h4>
											<p th:text="${homeSSD.getDescription()}"></p>
											<p class="price" th:text="${'Цена на SSD меняется в рамках '+ homeSSD.getAveragePrice()}"></p>
											<th:block sec:authorize="hasAuthority('ADMIN')">
												<form class="mt-2" th:action="@{/allForPC/ssd/number}" th:method="DELETE">
													<input type="hidden" name="number" th:value="${homeSSD.getId()}">
													<a href="#" class="deleteLink" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-trash"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="item__img">
											<img th:src="@{(${homeSSD.getImage()})}" alt="SSD">
										</div>
									</div>
									<div class="item__monitoring mt-5">
										<div class="monitoring-title mb-2">
											<h5 class="mb-3">Мониторинг цен на данный SSD</h5>
											<th:block sec:authorize="isAuthenticated()">
												<form class="mb-2" th:action="@{/allForPC/ssd/number}" th:method="PUT">
													<input type="hidden" name="number" th:value="${homeSSD.getId()}">
													<a href="#" class="refresh2 ml-2" onclick="$(this).closest('form').submit();">
														<i class="fa-solid fa-rotate"></i>
													</a>
												</form>
											</th:block>
										</div>
										<div class="monitoring__table table-responsive">
											<table class="table table-bordered">
												<thead>
												<tr class="table-secondary">
													<th scope="col">Логотип</th>
													<th scope="col">Онлайн магазин</th>
													<th scope="col">Цена</th>
													<th scope="col">Ссылка на товар</th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="homeSSDPrice : ${homeSSD.getMonitoringPrices()}">
													<tr class="table-light">
														<td scope="row"class="imge2">
															<img th:src="@{(${homeSSDPrice.getLogoSite()})}" onerror="this.src ='img/iconSite.jpg'" alt="iconka">
														</td>
														<td th:text="${homeSSDPrice.getSiteName()}"></td>
														<td th:text="${homeSSDPrice.getPrice()}"></td>
														<td >
															<a th:href="@{(${homeSSDPrice.getLink()})}" class="btn btn-primary" target="_blank">Посмотреть</a>
														</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--Footer-->
	<div th:replace="~{fragments/footer::footer}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/menu.js}" type="text/javascript"></script>
<script th:src="@{/js/equipment.js}" type="text/javascript"></script>
</body>
</html>