<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="menu">

	<header class="header">
		<div class="corobka">
			<div class="header__body">
				<a href="#" class="header__logo">
					<img src="img/logo3.png" alt="logo">
				</a>
				<div class="header__burger">
					<span></span>
				</div>
				<nav class="header__menu">
					<ul class="header__list">
						<li><a href="#" class="header__link">Cовместимость</a></li>
						<li><a th:href="@{/allForPC/configurator}" class="header__link">Конфигурация</a></li>
						<div sec:authorize="isAuthenticated()">
							<li class="dropdown">
								<a href="#" class="header__link dropdown-toggle" id="dropdownMenulink" data-toggle ="dropdown">Сборка</a>
								<div class="dropdown-menu"  aria-labelledby ="dropdownMenulink">
									<div class="background__item">
										<a href="#" class="dropdown-item  link">Всё о сборке ПК</a>
									</div>
									<div class="background__item">
										<a th:href="@{/allForPC/compilation}" class="dropdown-item link">Самостоятельная подборка</a>
									</div>
								</div>
							</li>
						</div>
						<div sec:authorize="isAnonymous()">
							<li><a href="#" class="header__link">Сборка</a></li>
						</div>
						<li><a href="#" class="header__link">Статьи</a></li>
					</ul>
				</nav>
				<div class="header__options">
					<div class="option1">
						<a href="#" class="search">
							<img id="myimage" src="icons/search.png" alt="search">
						</a>
					</div>
					<div class="option2">
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{/profile}" class="profile">
								<img src="icons/profile_icon-icons..png"alt="profile">
							</a>
						</div>
						<div sec:authorize="isAnonymous()">
							<a th:href="@{/user/login}" class="profile">
								<img src="icons/profile_icon.png"alt="entrance">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="corobka">
		<div class="wd">
			<div class="block1"></div>
			<div class="searchMenu">
				<div class="container">
					<div class="row">
						<div class="col">
							<form>
								<div class="input-group">
									<input type="text" name="search" class="form-control" placeholder="Поиск" aria-describedby="basic-addition">
									<div class="input-group-append">
										<button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-magnifying-glass"></i></button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!--					<div class="row mt-3">-->
					<!--						<div class="col">-->
					<!--							<div class="items">-->
					<!--								<div class="items__img">-->
					<!--									<a href="#"><img src="img/mtp.jpeg" alt="kartinka"></a>-->
					<!--								</div>-->
					<!--								<div class="items__body">-->
					<!--									<div class="items__link">-->
					<!--										<a href="#">Материнская плата</a>-->
					<!--									</div>-->
					<!--								</div>-->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->
					<!--					<div class="row mt-3">-->
					<!--						<div class="col">-->
					<!--							<div class="items">-->
					<!--								<div class="items__img">-->
					<!--									<img src="img/mtp.jpeg" alt="kartinka">-->
					<!--								</div>-->
					<!--								<div class="items__body">-->
					<!--									<div class="items__link">-->
					<!--										<a href="#">Материнская плата</a>-->
					<!--									</div>-->
					<!--								</div>-->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->
				</div>
			</div>
			<div class="block2"></div>
		</div>
	</div>

</th:block>
</html>>