<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="menu2">
	<header class="header2">
		<div class="corobka">
			<div class="header2__body">
				<a href="#" class="header2__logo">
					<img src="img/logo3.png" alt="logo">
				</a>
				<div class="header2__burger">
					<span></span>
				</div>
				<nav class="header2__menu">
					<ul class="header2__list">
						<li><a href="#" class="header2__link">На главную</a></li>
						<li><a href="#" class="header2__link">Профиль</a></li>
						<li><a href="#" class="header2__link">Управление</a></li>
					</ul>
				</nav>
				<div class="header2__options">
					<div class="optionExit">
						<a href="#" class="exit">
							<img id="myimage2" src="icons/exit_to_icon.png" alt="exit">
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
</th:block>