<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="menu2">
	<header class="header2">
		<div class="corobka">
			<div class="header2__body">
				<a href="/" class="header2__logo">
					<img src="img/logo3.png" alt="logo">
				</a>
				<div class="header2__burger">
					<span></span>
				</div>
				<nav class="header2__menu">
					<ul class="header2__list">
						<li><a th:href="@{/allForPC}" class="header2__link">На главную</a></li>
						<li><a th:href="@{/profile}" class="header2__link">Профиль</a></li>
<!--						<th:block th:text="${#authorization.expression('hasRole(ROLE_ADMIN)')}">-->
<!--							<li><a th:href="@{/admin}" class="header2__link">Управление</a></li>-->
<!--						</th:block>-->
						<div sec:authorize="hasAuthority('ADMIN')">
							<li><a th:href="@{/admin}" class="header2__link">Управление</a></li>
						</div>
					</ul>
				</nav>
				<div class="header2__options">
					<div class="optionExit">
						<a th:href="@{/allForPC/logout}" class="exit">
							<img id="myimage2" src="icons/exit_to_icon.png" alt="exit">
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
</th:block>
</html>