.profile{
	margin: 120px 0px 0px 0px;
}

@media(max-width: 750px){
	.profile{
		margin-top: 100px;
	}
}

.option{
	display: flex;
	width: 100%;
	height: 100%;
}

.option__item1{
	display: flex;
	flex-direction: column;
	width: 20%;
	background: #1c232e;
}

.item1{
	display: flex;
	background: #222731;
	margin: 0px 0px 30px 0px;
	height: 80px;
	padding: 8px;
}

.item1__avatarka{
	flex: 0 0 33.333%;
	position: relative;
	min-height: 60px;
}

.item1__avatarka img{
	width: 100%;
	height:100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left:0;
}

.item1__body{
	flex: 1 1 auto;
	padding: 0px 0px 0px 8px;
}
.item1__text h3{
	font-family: 'Philosopher';
	font-size:16px;
	color:#cfd3de;
}

@media(max-width: 1180px){
	.item1__text h3{
		font-size:14px;
	}
}

.item1__text p{
	font-family: 'Philosopher';
	font-size:12px;
	color:#c1eac2;
}

@media(max-width: 1050px){
	.item1__text h3{
		font-size:12px;
	}

	.item1__text p{
		font-size:10px;
	}
}

.item2{
	margin: 0px 0px 10px 0px;
	text-align: center;
}

.item2 h3{
	font-family: 'Philosopher';
	font-size:16px;
	color:#f0f8ef;
}

.item3{
	padding: 10px;
	height: 200px;
}

.btn:active, .btn:focus{
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.item3__btn1 .btn{
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.item3__btn2 .btn{
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.item3__btn1 .btn:hover{
	box-shadow: 0px 1px 2px 0px rgba(38,210,31,1),
	1px 2px 4px 0px rgba(38,210,31,1),
	2px 4px 8px 0px rgba(38,210,31,1),
	2px 4px 16px 0px rgba(38,210,31,1);
}

.item3__btn2 .btn:hover{
	box-shadow: 0px 1px 2px 0px rgba(38,210,31,1),
	1px 2px 4px 0px rgba(38,210,31,1),
	2px 4px 8px 0px rgba(38,210,31,1),
	2px 4px 16px 0px rgba(38,210,31,1);
}
.item3__btn1{
	text-align: center;
	margin: 0px 0px 40px 0px;
}


.item3__btn2{
	text-align: center;
}

.clr{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #f0f8ef;
}

.option__item2{
	width: 80%;
	background: #171c25;
	padding: 10px;
}


.wallpaper{
	flex: 0 0 80%;
	position: relative;
	min-height: 280px;
	z-index: 0;
}

.wallpaper img{
	width: 100%;
	height:100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left:0;
}


.card__data{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin: 0 auto;
	position: relative;
	left:0;
	bottom:120px;
	z-index: 1;
}

/*noinspection ALL*/
.ava{
	width: 100%;
	max-width: 200px;
	padding: 40px auto;
}

.data__avatarka{
	flex: 0 0 40%;
	position: relative;
	min-height: 200px;

}

.data__avatarka img{
	width: 100%;
	height:100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left:0;
	border-radius: 50%;
}

.data__body{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: auto;
	max-height: 200px;
}

.data__title h3{
	font-family: 'Philosopher';
	font-size: 18px;
	font-weight: bold;
}

.data__title p{
	font-family: 'Philosopher';
	font-size: 14px;
}


.data__text{
	padding: 5px;
	width: 100%;
	word-wrap: break-word; /*чтобы текст не убигал за границы*/
	overflow: auto
}

.data__text p{
	font-family: 'Philosopher';
	font-size: 16px;
	line-height: 1.5em;
}

.data__text p:before{
	content: '\201C';
}

.data__text p:after{
	content: '\201D';
}

.data__footer{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.data__footer a:not(:last-child){
	margin: 0px 8px 0px 0px;
}

.data__footer a{
	color: #83a180;
}

.netw{
	font-size: 2rem;
}



@media(max-width: 840px){
	.option{
		flex-direction: column;
	}

	.item1{
		display: none;
	}

	.option__item1{
		width: 100%;
	}

	.option__item2{
		width: 100%;
	}

	.item3{
		display: flex;
		justify-content: center;
		height: 60px;
	}

	.item3__btn1{
		margin: 0px 30px 0px 0px;
	}

	.wallpaper{
		flex: 0 0 100%;
		min-height: 220px;
	}

	.data__avatarka{
		flex: 0 0 33.33%;
	}

	.ava{
		padding: 0;
	}

}

@media(max-width: 370px){
	.card__data{
		width: 100%;
	}

	.item3__btn1{
		font-size: 8px;
		margin: 0px 10px 0px 0px;
	}

	.item3__btn2{
		font-size: 8px;
	}
}
